.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #ffffff;
}

.navbar_container {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}

.navbar_logo {
  color: var(--title-color);
  font-weight: bold;
}

.navbar_list {
  display: flex;
  column-gap: 2rem;
}

.navbar_item {
  display: flex;
  align-items: center;
  font-size: var(--normal-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.navbar_link {
  color: #1d1f20;
}

.navbar_icon {
  display: none;
}

.active {
  color: var(--theme-color);
}

/*=============== BREAKPOINTS ===============*/
/* For large divices */
@media screen and (max-width: 992px) {
}
/* For medium divices */
@media screen and (max-width: 768px) {
  .navbar {
    top: initial;
    bottom: 0;
  }
  .navbar_container {
    height: 2rem;
  }
  .navbar_menu {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--body-color);
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
  }
  .navbar_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  .navbar_icon {
    display: block;
    font-size: 1.5rem;
    padding: 1rem;
  }
  .navbar_logo {
    display: none;
  }
  .navbar_link span {
    display: none;
  }

  .navbar_link {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
}
/* For small divices */
@media screen and (max-width: 350px) {
}
