.searchbar {
  position: relative;
  z-index: -999;
}

.searchbar_container {
  width: 100%;
  padding: 0.5rem 1rem;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2rem;
  background-color: #fff;
}

.searchbar_input {
  border: none;
  font-size: var(--normal-font-size);
}

.searchbar_input:focus {
  outline: none;
}

.btn-search {
  padding: 0.2rem 1rem 0.2rem 1rem;
  border: none;
  cursor: pointer;
  background-color: #fff;
}

.btn-search-icon {
  color: var(--theme-color);
  font-size: 1rem;
  font-weight: bold;
}

/*=============== BREAKPOINTS ===============*/

/* For large divices */
@media screen and (max-width: 992px) {
}
/* For medium divices */
@media screen and (max-width: 768px) {
  .searchbar {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    width: 100%;
  }

  .searchbar_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .searchbar_input {
    width: 100%;
  }

  .btn-search-icon {
    font-size: 2rem;
  }
}
@media screen and (max-width: 576px) {
}
/* For small divices */
@media screen and (max-width: 350px) {
}
